/* Enter your custom styles here */
.mycss.sapMText {
    display: inline-block;
    box-sizing: border-box;
    white-space: pre-line;
    word-wrap: break-word;
    cursor: text;
    font-size: 18px;
    font-family: "72", "72full", Arial, Helvetica, sans-serif;
    line-height: normal;
    color: #bacded;
}